.App {
  text-align: center;
}


.container {
  width: 100%;
  height: auto;
}

.FImg {
  width: 100%;
  height: 40%;
}


.headerImg {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 8%;
  height: 10%;
}

.SImg {
    position: absolute;
    bottom: 8px;
    right: 16px;
    width: 45%;
    height: 100%;
}

.amazonImg {

}

.btn {
  width: 15%;
  height: 6%;
  border: none;
  border-radius: 5px;
  background-color: #1877f2;
  color: white;
  position: absolute;
  bottom: 8px;
  left: 3%;
  top: 50%;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}


.fDiv {
  width: 100%;
  height: 50rem;
  background-image: url("https://voosh.in/static/media/book_now_bg.e9f9294653918137cd78.webp");
  display: flex;
  justify-content: space-around;
}

.book {
  width: 15%;
  color: rgb(247, 242, 242);
  font-weight: bold;
  font-size: large;
  margin-top: 25%;
}

.bookdemoDiv {
    width: 30%;
    height: 50%;
    background: #fff;
    border: 1px solid #dbdbe4;
    border-radius: 10px;
    margin-top: 15%;
}

.bookdemoDiv > input {
  border-radius: 8px;
  border: none;
  outline: none;
  color: #1d2129;
  margin: 5%;
  width: 92%;
  font-size: 1rem;
}

.bookdemoDiv > label {
  border-radius: 8px;
  outline: none;
  color: #1d2129;
  margin: 5%;
  margin-top: 5%;
  width: 92%;
  font-size: 1rem;
  margin-top: 2%;
}



.bookdemobtn {
  width: 90%;
  height: 10%;
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  margin: 5%;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  text-align: center;
}